Repository nagyesta/file-barj: changes, and which Codecov flags are due for each by the changed paths.
All: core, job, stream

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    project:
      default:
        threshold: 0.50%
      core:
        flags:
        - core
      job:
        flags:
        - job
      stream:
        flags:
        - stream
    patch: false
flags:
  core:
    paths:
      - ./file-barj-core
  job:
    paths:
      - ./file-barj-job
  stream:
    paths:
      - ./file-barj-stream-io

Fix flaky tests on windows - Fixes deletion logic - Stops using deprecated class/method
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestCipherInputStream.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/merge/MergeController.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/worker/FileMetadataSetterLocalTest.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/BarjCargoArchiveFileInputStreamSource.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/internal/FixedRangeInputStream.java
Due: core, stream

Fix flaky tests on windows (#222)
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestCipherInputStream.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/merge/MergeController.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/worker/FileMetadataSetterLocalTest.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/BarjCargoArchiveFileInputStreamSource.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/internal/FixedRangeInputStream.java
Due: core, stream

Triggering a release {patch}
  .release-trigger
Due: none

Update release workflows (#239)
  .github/workflows/add-index-exclusion.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-trigger.yml
  .github/workflows/update-dependency-checksums.yml
  build.gradle.kts
  file-barj-core/build.gradle.kts
  file-barj-job/build.gradle.kts
  file-barj-stream-io/build.gradle.kts
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: core, job, stream

Add new command to delete selected backup increments safely (#244)
  .gitignore
  README.md
  file-barj-core/README.md
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManager.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/delete/IncrementDeletionController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/merge/MergeController.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImplTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/delete/IncrementDeletionControllerTest.java
  file-barj-job/README.md
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliDeleteIncrementsParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliTaskParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/DeleteIncrementsProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/Task.java
  file-barj-job/src/test/java/com/github/nagyesta/filebarj/job/ControllerIntegrationTest.java
  file-barj-job/src/test/java/com/github/nagyesta/filebarj/job/ControllerTest.java
Due: core, job

Improve archive index format - Defines V2 archive index properties - Implements parsers for both archive index versions - Uses the parsers instead of direct properties access - Adds new tests
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/BarjCargoArchiveFileInputStreamSource.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/BarjCargoArchiverFileOutputStream.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/BarjCargoUtil.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/IndexVersion.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/ReadOnlyArchiveIndex.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/index/ArchiveIndexV1.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/index/ArchiveIndexV2.java
  file-barj-stream-io/src/test/java/com/github/nagyesta/filebarj/io/stream/IndexVersionTest.java
  file-barj-stream-io/src/test/java/com/github/nagyesta/filebarj/io/stream/internal/BarjCargoArchiverFileOutputStreamIntegrationTest.java
  file-barj-stream-io/src/test/resources/example/index_v2.properties
Due: stream

Improve archive index format (#269)
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/BarjCargoArchiveFileInputStreamSource.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/BarjCargoArchiverFileOutputStream.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/BarjCargoUtil.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/IndexVersion.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/ReadOnlyArchiveIndex.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/index/ArchiveIndexV1.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/index/ArchiveIndexV2.java
  file-barj-stream-io/src/test/java/com/github/nagyesta/filebarj/io/stream/IndexVersionTest.java
  file-barj-stream-io/src/test/java/com/github/nagyesta/filebarj/io/stream/internal/BarjCargoArchiverFileOutputStreamIntegrationTest.java
  file-barj-stream-io/src/test/resources/example/index_v2.properties
Due: stream

Add validation for configuration and manifests (#271)
  file-barj-core/build.gradle.kts
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/BaseFileMetadataChangeDetector.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/BackupJobConfiguration.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/BackupSource.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/AppVersion.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/ArchiveEntryLocator.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/ArchivedFileMetadata.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/BackupIncrementManifest.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/BackupPath.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/EncryptionKeyStore.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/FileMetadata.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/ValidationRules.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/validation/FileNamePrefix.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/validation/FileNamePrefixValidator.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/validation/PastOrPresentEpochSeconds.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/validation/PastOrPresentEpochSecondsValidator.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImplTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/BackupJobConfigurationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/model/AppVersionTest.java
  file-barj-job/build.gradle.kts
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/BackupFileProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/BackupProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/DeleteIncrementsProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/InspectIncrementContentsProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/MergeProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/RestoreProperties.java
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: core, job

Pinning dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch} (#290)
  .release-trigger
Due: none

Update README.md
  README.md
Due: none

Update README.md (#294)
  README.md
Due: none

Improve workflows (#296)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-trigger.yml
  .github/workflows/scorecard.yml
Due: none

Update scorecard.yml
  .github/workflows/scorecard.yml
Due: none

Fix: Fix invalid test assertion - Fixes an invalid assertion made for folder size comparison
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreControllerIntegrationTest.java
Due: core

Fix: Fix invalid test assertion (#341)
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreControllerIntegrationTest.java
Due: core

Triggering a release {patch} (#345)
  .release-trigger
Due: none

Triggering a release {patch} (#381)
  .release-trigger
Due: none

Switch to new Shadow Jar plugin - Replaces Shadow Jar plugin reference with the new name
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: none

Switch to new Shadow Jar plugin (#389)
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch} (#410)
  .release-trigger
Due: none

Triggering a release {patch} (#435)
  .release-trigger
Due: none

Reduce the memory consumption of the long-running processes - WIP learn about the problem - WIP design manifest database
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/InMemoryManifestDatabase.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestDatabase.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManager.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/BackupToOsMapper.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/RestoreTargets.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/delete/IncrementDeletionController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/merge/MergeController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/BackupIncrementManifest.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/RestoreScope.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/enums/FileType.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/DryRunRestorePipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliRestoreParser.java
Due: core, job

Triggering a release {patch} (#458)
  .release-trigger
Due: none

Triggering a release {patch} (#484)
  .release-trigger
Due: none

Maintenance - Update Renovate config to group dependencies - Update dependencies - Add som of the IDE config to the repository - Fix Index Scan execution steps - Migrate to new CodeCov config
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle.yml
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/icon.png
  .idea/inspectionProfiles/Project_Default.xml
  build.gradle.kts
  file-barj-core/build.gradle.kts
  file-barj-job/build.gradle.kts
  file-barj-stream-io/build.gradle.kts
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  renovate.json
Due: core, job, stream

Maintenance (#499)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle.yml
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/icon.png
  .idea/inspectionProfiles/Project_Default.xml
  build.gradle.kts
  file-barj-core/build.gradle.kts
  file-barj-job/build.gradle.kts
  file-barj-stream-io/build.gradle.kts
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  renovate.json
Due: core, job, stream
