Repository nagyesta/file-barj: changes, and which Codecov flags are due for each by the changed paths.
All: core, job, stream

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    project:
      default:
        threshold: 0.50%
      core:
        flags:
        - core
      job:
        flags:
        - job
      stream:
        flags:
        - stream
    patch: false
flags:
  core:
    paths:
      - ./file-barj-core
  job:
    paths:
      - ./file-barj-job
  stream:
    paths:
      - ./file-barj-stream-io

Triggering a release {patch}
  .release-trigger
Due: none

Triggering a release {patch} (#711)
  .release-trigger
Due: none

chore: Workflow maintenance - Use auto-generated GitHub tokens in all workflows
  .github/workflows/add-index-exclusion.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-trigger.yml
  .github/workflows/scorecard.yml
  .github/workflows/update-dependency-checksums.yml
Due: none

chore: Workflow maintenance (#724)
  .github/workflows/add-index-exclusion.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-trigger.yml
  .github/workflows/scorecard.yml
  .github/workflows/update-dependency-checksums.yml
Due: none

fix: Fix Sonar config - Remove unnecessary Sonar configuration - Add codeowners
  .github/CODEOWNERS
  build.gradle.kts
Due: none

fix: Fix Sonar config (#738)
  .github/CODEOWNERS
  build.gradle.kts
Due: none

feat: Change file metadata scanning to store and access metadata through an interface - Extract generic implementation from FileSetRepository
  build.gradle.kts
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/BackupSourceScanner.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/BaseFileSetRepository.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/DataRepositories.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/FileMetadataSetRepository.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/FilePathSetRepository.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/FileSetRepository.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/entities/BaseFileSetId.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/entities/FileMetadataSetId.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/entities/FilePathSetId.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/inmemory/InMemoryBaseFileSetRepository.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/inmemory/InMemoryFilePathSetRepository.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/inmemory/InMemoryFileSetRepository.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/BackupSourceTest.java
Due: core

fix: Bug report: The latest version is unable to backup or restore large data sets (#789)
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/inmemory/InMemoryArchivedFileMetadataSetRepository.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/inmemory/InMemoryFileMetadataSetRepository.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-job/src/main/resources/logback.xml
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/BarjCargoArchiverFileOutputStream.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/internal/BarjCargoEntityArchiver.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/internal/BaseBarjCargoArchiverFileOutputStream.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/internal/ChunkingFileOutputStream.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/internal/ChunkingOutputStream.java
Due: core, job, stream

fix: Restore fails to delete left-over files - Make sure left-over files are deleted using one thread
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
Due: core, job

fix: Restore fails to delete left-over files (#792)
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
Due: core, job

chore: Migrate to OWASP Dependency Check (#829)
  .github/workflows/add-vulnerability-suppression.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-dependency-check.yml
  .github/workflows/gradle.yml
  build.gradle.kts
  config/dependency-check/suppressions.xml
  config/ossindex/exclusions.txt
  config/ossindex/ossIndexAudit.gradle.kts
  file-barj-core/lombok.config
  file-barj-job/lombok.config
  file-barj-stream-io/lombok.config
  gradle/libs.versions.toml
Due: core, job, stream

chore: Maintenance - Reduce Sonatype Guide utilization - Update dependencies
  .github/workflows/gradle-dependency-check.yml
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: none

chore: Maintenance (#854)
  .github/workflows/add-vulnerability-suppression.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-dependency-check.yml
  .github/workflows/gradle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-trigger.yml
  .github/workflows/scorecard.yml
  .github/workflows/update-dependency-checksums.yml
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: none

Update gradle-dependency-check.yml
  .github/workflows/gradle-dependency-check.yml
Due: none

chore: Configure Snyk - Use Snyk for dependency checks - Add Snyk configuration - Update readme
  .github/workflows/add-vulnerability-suppression.yml
  .github/workflows/gradle-dependency-check.yml
  .snyk
  README.md
  config/snyk/snyk.json
  file-barj-core/README.md
  file-barj-job/README.md
  file-barj-stream-io/README.md
Due: core, job, stream

chore: Configure Snyk (#894)
  .github/workflows/add-vulnerability-suppression.yml
  .github/workflows/gradle-dependency-check.yml
  .snyk
  README.md
  config/snyk/snyk.json
  file-barj-core/README.md
  file-barj-job/README.md
  file-barj-stream-io/README.md
Due: core, job, stream

Pinning dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none
