Repository nagyesta/file-barj: changes, and which Codecov flags are due for each by the changed paths.
All: core, job, stream

Reduce the memory consumption of the long-running processes - WIP learn about the problem - WIP design manifest database
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/InMemoryManifestDatabase.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestDatabase.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManager.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/BackupToOsMapper.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/RestoreTargets.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/delete/IncrementDeletionController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/merge/MergeController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/BackupIncrementManifest.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/RestoreScope.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/enums/FileType.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/DryRunRestorePipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliRestoreParser.java
Due: core, job

Reduce the memory consumption of the long-running processes - WIP production code should be sort of maybe compile - Tests are not even compiling
  build.gradle.kts
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/worker/BackupScopePartitioner.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/worker/DefaultBackupScopePartitioner.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/InMemoryManifestDatabase.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestDatabase.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManager.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/database/ArchiveSetId.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/database/ArchiveSetIdImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/database/ChangeSetId.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/database/ChangeSetIdImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/database/ConcurrentSortedMap.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/database/FileSetId.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/database/FileSetIdImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/database/InMemoryManifestDatabase.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/RestoreTargets.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/inspect/pipeline/IncrementInspectionController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/merge/MergeController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/ArchiveEntryLocator.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/FileMetadata.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/RestoreScope.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/DryRunRestorePipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/worker/PosixFileMetadataSetter.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/worker/WindowsFileMetadataSetter.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/AbstractFileMetadataChangeDetectorIntegrationTest.java
Due: core

Triggering a release {patch}
  .release-trigger
Due: none

Triggering a release {patch} (#513)
  .release-trigger
Due: none

Pinning dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch} (#531)
  .release-trigger
Due: none

fix: Symbolic links to folders are treated as folders in the backup directory (#539)
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/BackupSource.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/BackupJobConfigurationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/BackupSourceTest.java
Due: core

Maintenance - Update list of allowed dependency licenses
  file-barj-core/build.gradle.kts
  file-barj-job/build.gradle.kts
Due: core, job

chore: Attempt Maven Central migration - Migrate configuration to Maven Central
  build.gradle.kts
Due: none

chore: Attempt Maven Central migration (#571)
  build.gradle.kts
Due: none

Triggering a release {patch} (#580)
  .release-trigger
Due: none

Excluding vulnerability CVE-2025-48924 {patch}
  config/ossindex/exclusions.txt
Due: none

Excluding vulnerability CVE-2025-48924 {patch} (#591)
  config/ossindex/exclusions.txt
Due: none

Triggering a release {patch} (#595)
  .release-trigger
Due: none

feat: Change file path scanning to hide data store behind an interface (#610)
  build.gradle.kts
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/BackupSourceScanner.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/BackupSource.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/DataRepositories.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/FileSetRepository.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/SortOrder.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/entities/FileSetId.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/inmemory/InMemoryFileSetRepository.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/BackupSourceTest.java
Due: core

Update release.yml
  .github/release.yml
Due: none

fix: Improve performance of file path scanning (#616)
  .github/release.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/gradle.yml
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/BackupSourceScanner.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/FileSetRepository.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/persistence/inmemory/InMemoryFileSetRepository.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/BackupSourceTest.java
  gradle/verification-metadata-clean.xml
  gradle/verification-metadata.xml
Due: core

fix: Update task dependencies to ensure proper execution order - Make `shadowJar` depend on `jar` - Update `build` to depend on `shadowJar`
  file-barj-job/build.gradle.kts
Due: job

chore: Maintenance - Update wrapper validation plugin - Add `feat/*` pattern to PR labeler workflow
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/gradle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/update-dependency-checksums.yml
Due: none

chore: Maintenance (#622)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/gradle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/update-dependency-checksums.yml
Due: none

Triggering a release {patch} (#623)
  .release-trigger
Due: none

Triggering a release {patch} (#646)
  .release-trigger
Due: none

chore: Maintenance - Separate Jackson Annotations version from Jackson version
  gradle/libs.versions.toml
Due: none

chore: Maintenance - Migrate CycloneDX configuration to new version
  build.gradle.kts
Due: none

chore: Maintenance - Migrate CycloneDX configuration to new version
  build.gradle.kts
  file-barj-core/build.gradle.kts
  file-barj-job/build.gradle.kts
  file-barj-stream-io/build.gradle.kts
  gradle/verification-metadata.xml
Due: core, job, stream

Triggering a release {patch} (#682)
  .release-trigger
Due: none

chore: Automatic release notes - Export the project version during build - Generate release notes automatically on release - Remove unnecessary Sonar config
  .github/workflows/gradle.yml
  .github/workflows/release-draft.yml
  build.gradle.kts
Due: none

chore: Automatic release notes (#684)
  .github/workflows/gradle.yml
  .github/workflows/release-draft.yml
  build.gradle.kts
Due: none

chore: Maintenance - Handle Abort-Mission dependencies together
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  renovate.json
Due: none

chore: Maintenance - Fix broken build
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/BackupJobConfiguration.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/BackupIncrementManifest.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/validation/FileNamePrefix.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/validation/FileNamePrefixValidator.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/BackupJobConfigurationTest.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/BackupFileProperties.java
Due: core, job

Path conditions:
  core: any of: file-barj-core
  job: any of: file-barj-job
  stream: any of: file-barj-stream-io
