Repository nagyesta/file-barj: changes, and which Codecov flags are due for each by the changed paths.
All: core, job

Triggering a release {patch}
  .release-trigger
Due: none

Implement MVP - Updates Logback dependency versions - Applies security recommendation related to how hidden attribute is set on Windows - Changes RSA algorithm name
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/worker/FileMetadataSetterLocal.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/backup/worker/FileMetadataParserLocalTest.java
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/crypto/EncryptionUtil.java
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: core

Fix broken release - Fixes artifact Id of Maven publication
  file-barj-core/build.gradle.kts
  file-barj-job/build.gradle.kts
  file-barj-stream-io/build.gradle.kts
Due: core, job

Fix broken release (#82)
  file-barj-core/build.gradle.kts
  file-barj-job/build.gradle.kts
  file-barj-stream-io/build.gradle.kts
Due: core, job

Update README.md
  README.md
Due: none

Update README.md (#83)
  README.md
Due: none

Improve restore process and link handling (#85)
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BaseBackupPipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/ParallelBackupPipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/enums/FileType.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
Due: core

Incremental backup (#92)
  README.md
  file-barj-core/README.md
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/BaseFileMetadataChangeDetector.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManager.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/BackupJobConfiguration.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/ArchivedFileMetadata.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/EncryptionKeyStore.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/FileMetadata.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/RestoreManifest.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/RestoreScope.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/enums/Change.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/enums/FileType.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/DryRunRestorePipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/util/FileTypeStatsUtil.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/util/TimerUtil.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupControllerIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImplIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/BackupJobConfigurationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/model/ArchivedFileMetadataTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/model/BackupIncrementManifestTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/model/RestoreScopeTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreControllerIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipelineIntegrationTest.java
  file-barj-job/README.md
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-stream-io/README.md
Due: core, job

Bug: Restoring on Windows throws an exception (#95)
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Main.java
  file-barj-job/src/main/resources/logback.xml
  file-barj-job/src/test/java/com/github/nagyesta/filebarj/job/MainTest.java
  file-barj-job/src/test/resources/logback-test.xml
  file-barj-stream-io/src/main/java/com/github/nagyesta/filebarj/io/stream/BarjCargoArchiveFileInputStreamSource.java
Due: job

Implement duplicate handling strategies (#99)
  README.md
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BaseBackupPipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/ParallelBackupPipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/worker/BackupScopePartitioner.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/worker/DefaultBackupScopePartitioner.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/enums/DuplicateHandlingStrategy.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/enums/HashAlgorithm.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupControllerIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupPipelineIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/backup/pipeline/ParallelBackupPipelineTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/backup/worker/DefaultBackupScopePartitionerTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/enums/DuplicateHandlingStrategyTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/enums/HashAlgorithmTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipelineIntegrationTest.java
Due: core

Improve file parse performance (#103)
  build.gradle.kts
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/ParallelBackupPipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/worker/FileMetadataParserFactory.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/worker/PosixFileMetadataParser.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/worker/WindowsFileMetadataParser.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/BaseFileMetadataChangeDetector.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/FileMetadataChangeDetectorFactory.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/HashingFileMetadataChangeDetector.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/SimpleFileMetadataChangeDetector.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/DryRunRestorePipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/worker/FileMetadataSetterFactory.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/worker/PosixFileMetadataSetter.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/worker/WindowsFileMetadataSetter.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/util/StatLogUtil.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupControllerIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupPipelineIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/backup/worker/FileMetadataParserTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/AbstractFileMetadataChangeDetectorIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/HashingFileMetadataChangeDetectorIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImplIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/SimpleFileMetadataChangeDetectorIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/model/RestoreScopeTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreControllerIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipelineIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/worker/FileMetadataSetterFactoryTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/worker/FileMetadataSetterLocalTest.java
Due: core

Allow deleting left-over files after restore completed (#107)
  README.md
  file-barj-core/README.md
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/worker/PosixFileMetadataParser.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/RestoreTargets.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/RestoreTask.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/RestoreTargetsTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/config/RestoreTaskTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreControllerIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipelineIntegrationTest.java
  file-barj-job/README.md
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliRestoreParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/RestoreProperties.java
Due: core, job

Inspect backup contents (#116)
  file-barj-core/README.md
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManager.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/inspect/pipeline/IncrementInspectionController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/inspect/worker/ManifestToSummaryConverter.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/inspect/worker/TabSeparatedBackupContentExporter.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/inspect/pipeline/IncrementInspectionControllerTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/inspect/worker/ManifestToSummaryConverterTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/inspect/worker/TabSeparatedBackupContentExporterTest.java
  file-barj-job/README.md
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/BackupFileProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliBackupParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliICommonBackupFileParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliInspectContentParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliInspectIncrementsParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliKeyGenParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliRestoreParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliTaskParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/GenericCliParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/InspectIncrementContentsProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/InspectIncrementsProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/RestoreProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/Task.java
  file-barj-job/src/test/java/com/github/nagyesta/filebarj/job/ControllerIntegrationTest.java
  file-barj-job/src/test/java/com/github/nagyesta/filebarj/job/ControllerTest.java
  file-barj-job/src/test/resources/file-barj-component.version
Due: core, job

Allow point-in-time restore - Adds new option to --restore command - Adds new parameter to RestoreController - Updates tests - Updates README.md
  README.md
  file-barj-core/README.md
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreControllerIntegrationTest.java
  file-barj-job/README.md
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliRestoreParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/RestoreProperties.java
  file-barj-job/src/test/java/com/github/nagyesta/filebarj/job/ControllerIntegrationTest.java
Due: core, job

Allow point-in-time restore (#124)
  README.md
  file-barj-core/README.md
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreControllerIntegrationTest.java
  file-barj-job/README.md
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliRestoreParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/RestoreProperties.java
  file-barj-job/src/test/java/com/github/nagyesta/filebarj/job/ControllerIntegrationTest.java
Due: core, job

Allow partial restore (#126)
  README.md
  file-barj-core/README.md
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/RestoreTask.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/RestoreManifest.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreControllerIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipelineIntegrationTest.java
  file-barj-job/README.md
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliRestoreParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/RestoreProperties.java
Due: core, job

checkstyle-9.3.jar: 1 vulnerabilities (highest severity is: 7.1) - Makes sure that the right tool version is set everywhere
  build.gradle.kts
  gradle/verification-metadata.xml
Due: none

checkstyle-9.3.jar: 1 vulnerabilities (highest severity is: 7.1) (#139)
  build.gradle.kts
  gradle/verification-metadata.xml
Due: none

Fix test execution configuration (#140)
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/MissionOutlineDefinition.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/backup/worker/FileMetadataParserTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/HashingFileMetadataChangeDetectorIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/SimpleFileMetadataChangeDetectorIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipelineIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/worker/FileMetadataSetterLocalTest.java
  file-barj-core/src/test/resources/junit-platform.properties
  file-barj-job/src/test/resources/junit-platform.properties
  file-barj-stream-io/src/test/java/com/github/nagyesta/filebarj/io/MissionOutlineDefinition.java
  file-barj-stream-io/src/test/java/com/github/nagyesta/filebarj/io/stream/crypto/EncryptionUtilTest.java
  file-barj-stream-io/src/test/resources/junit-platform.properties
Due: core, job

Update workflow - Removes sign related steps from the PR workflow - Sets the PR workflow to skip CodeCov uploads when the PR is from a fork
  .github/workflows/gradle-ci.yml
Due: none

Restoring a Unix Backup on Windows is not working well (#147)
  README.md
  file-barj-core/README.md
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/BaseFileMetadataChangeDetector.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/PermissionComparisonStrategy.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/RestoreTask.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/util/LogUtil.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/PermissionComparisonStrategyTest.java
  file-barj-job/README.md
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliRestoreParser.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/RestoreProperties.java
  file-barj-job/src/main/resources/banner.txt
  file-barj-job/src/test/java/com/github/nagyesta/filebarj/job/cli/CliRestoreParserTest.java
Due: core, job

Restoring a Unix Backup on Windows is not working well - Reopen (#149)
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/PermissionComparisonStrategy.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/DryRunRestorePipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/worker/FileMetadataSetterFactory.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/worker/PosixFileMetadataSetter.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/worker/WindowsFileMetadataSetter.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/SimpleFileMetadataChangeDetectorIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipelineIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/worker/FileMetadataSetterFactoryTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/worker/FileMetadataSetterLocalTest.java
  file-barj-job/src/main/resources/banner.txt
  file-barj-job/src/main/resources/logback.xml
Due: core, job

Restoring a Unix Backup on Windows is not working well - Reopen (#150)
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/BaseFileMetadataChangeDetector.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/FileMetadataChangeDetectorFactory.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/HashingFileMetadataChangeDetector.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/SimpleFileMetadataChangeDetector.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/AbstractFileMetadataChangeDetectorIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/FileMetadataChangeDetectorFactoryTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/HashingFileMetadataChangeDetectorIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/common/SimpleFileMetadataChangeDetectorIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/CrossPlatformRestoreIntegrationTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestoreControllerIntegrationTest.java
Due: core

Save the OS name in the backup - Defines OS enum - Implements OS name parsing logic - Adds OS name to manifests - Shows OS name during restore
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/inspect/worker/ManifestToSummaryConverter.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/BackupIncrementManifest.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/RestoreManifest.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/enums/OperatingSystem.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/util/OsUtil.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/inspect/worker/ManifestToSummaryConverterTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/model/BackupIncrementManifestTest.java
Due: core

Save the OS name in the backup (#152)
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/common/ManifestManagerImpl.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/inspect/worker/ManifestToSummaryConverter.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/BackupIncrementManifest.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/RestoreManifest.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/enums/OperatingSystem.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/util/OsUtil.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/inspect/worker/ManifestToSummaryConverterTest.java
  file-barj-core/src/test/java/com/github/nagyesta/filebarj/core/model/BackupIncrementManifestTest.java
Due: core

Found 0 unique paths in backup sources on Windows - Fixes BackupSource glob pattern creation - Adds additional verification step to fail backups with zero files in scope
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/BackupSource.java
Due: core

Found 0 unique paths in backup sources on Windows (#160)
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/backup/pipeline/BackupController.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/config/BackupSource.java
Due: core

NullPointerException during restore on Windows - Fixes the source of the NPE - Marks nullable fields of the affected type with annotations to allow static analysis to discover similar issues
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/FileMetadata.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
Due: core

NullPointerException during restore on Windows (#163)
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/model/FileMetadata.java
  file-barj-core/src/main/java/com/github/nagyesta/filebarj/core/restore/pipeline/RestorePipeline.java
Due: core

Add new flag to force full backup creation - Adds new command option to --backup - Calls BackupController with the new options value - Updates tests - Updates documentation
  file-barj-job/README.md
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/BackupProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliBackupParser.java
  file-barj-job/src/test/java/com/github/nagyesta/filebarj/job/cli/CliBackupParserTest.java
Due: job

Add new flag to force full backup creation (#165)
  file-barj-job/README.md
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/Controller.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/BackupProperties.java
  file-barj-job/src/main/java/com/github/nagyesta/filebarj/job/cli/CliBackupParser.java
  file-barj-job/src/test/java/com/github/nagyesta/filebarj/job/cli/CliBackupParserTest.java
Due: job

Triggering a release {patch} (#191)
  .release-trigger
Due: none

Path conditions:
  core: any of: file-barj-core
  job: any of: file-barj-job
